<!-- !ERROR 404 NOT FOUND CONTENT! -->
<h5><i class="fa fa-space-shuttle"></i> another dimension...</h5>
<div fxLayout="row" fxLayoutGap="1%" fxLayout.xs="column" class="upper-row">
  <div fxLayout="column" fxFlex="33%" fxLayoutAlign="center center" fxHide.xs class="upper-one">
    <!-- i am one -->
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33%" fxFlex.xs="100%" class="upper-two">
    <header class="w3-container" style="padding-top:22px">
      <h5><i class="fa fa-space-shuttle fa-5x"></i><br>this trip went too far...</h5>
    </header>
    <div>
      <p>
        here is an unexplored space fellow traveller! we cannot ensure we will find what you are looking for.
      </p>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="33%" fxHide.xs class="upper-three">
    <!-- i am three -->
  </div>
</div>
<div fxLayout="row" fxLayoutGap="1%" fxLayout.xs="column" class="mid-row">
  <div fxLayout="column" fxFlex="21%" fxLayoutAlign="center center" fxHide.xs class="mid-one">
    <!-- i am four -->
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="55%" fxFlex.xs="100%" class="mid-two">
    <p>
        in other words, this is a classic 404 - not found error<br>
        you can return to <a [routerLink]="['/']">home page</a> and start the journey over
    </p>
  </div>
  <div fxLayout="column" fxFlex="22%" fxLayoutAlign="center center" fxFlex.xs="100%" class="mid-three">
    <a target="_blank" href="http://litcons.eu"><img src="../../../assets/pictures/logo-med.png"></a>
  </div>
</div>
