<!-- !HOME CONTENT! -->
  <h5><i class="fa fa-globe"></i> Home </h5>
  <!-- UPPER ROW SECTION-->
  <div fxLayout="row" fxLayoutGap="1%" fxLayout.xs="column" class="upper-row">
    <div fxLayout="column" fxFlex="10%" fxLayoutAlign="center center" fxHide.xs class="upper-one">
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="72%" fxFlex.xs="100%" class="upper-two">
      <h3>observe <small><small><small>version 'astrocat'</small></small></small></h3>
      <img class="tomcat" src="../../../assets/pictures/tomcat.png">
      <h6><i>a solid, yet uncomplicated, telemetry and remote control platform for mankind</i><i><small><small>...and maybe some aliens</small></small></i></h6>
      <hr style="width: 100%;">
      <!-- FIRST ROW OF CARDS IN THE SECOND MAIN DIV - MIDDLE ONE-->
      <div fxLayout="row" fxLayoutGap="6%" fxLayout.xs="column" class="inner-upper-two">
        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlex="30%" fxFlex.xs="100%" class="w3-card w3-2021-amethyst-orchid w3-padding-small w3-opacity-min">
          <hr style="width: 100%;">
          <i class="fa fa-globe fa-4x" aria-hidden="true"></i>
          <span><u>Monitor</u></span>
          <span>&nbsp;&nbsp;&#8226;&nbsp;sense natural and environmental occurences, of various scopes, in a global scale</span>
          <br>
          <span>&nbsp;&nbsp;&#8226;&nbsp;achieve a better understanding of a system flow through data gathering and visualization</span>
          <hr style="width: 100%;">
        </div>
        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlex="30%" fxFlex.xs="100%" class="w3-card w3-2021-french-blue w3-padding-small w3-opacity-min">
          <hr style="width: 100%;">
         <i class="fa fa-wrench fa-3x" aria-hidden="true"></i>
         <span><u>Control</u></span>
         <span>&nbsp;&nbsp;&#8226;&nbsp;customize and take action over multiple & various machines and apparatus</span>
         <br>
         <span>&nbsp;&nbsp;&#8226;&nbsp;prevent failures - or better yet - expand gains by acting proactively</span>
         <hr style="width: 100%;">
        </div>
        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlex="30%" fxFlex.xs="100%" class="w3-card w3-2021-mint w3-padding-small w3-opacity-min">
          <hr style="width: 100%;">
          <i class="fa fa-microchip fa-3x" aria-hidden="true"></i>
          <span><u>Augment</u></span>
          <span>&nbsp;&nbsp;&#8226;&nbsp;utilize AI - Pandora - for advanced flow programming and scheduling</span>
          <br>
          <span>&nbsp;&nbsp;&#8226;&nbsp;experiment with a completely autonomous production system</span>
          <hr style="width: 100%;">
         </div>
      </div>
      <br>
      <!-- SECOND ROW OF CARDS IN THE SECOND MAIN DIV - MIDDLE ONE-->
      <div fxLayout="row" fxLayoutGap="6%" fxLayout.xs="column" class="inner-upper-two">
        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlex="100%" fxFlex.xs="100%" class=" w3-padding-small w3-opacity-min">
          <h4>seems cool right?...</h4>
          <span>...well, it is! So take your time to explore around - terms, documentation etc. before creating an account for there's quite
            a bit of actions before there's some tangible outcome out of the platform and keep in mind that being 'playful' doesn't mean it is a toy.
            <b>It's not!</b>
          </span>
          <br>
          <h3>share the news</h3>
          <span>&nbsp;&nbsp;important announcements are always public on the news & forum section while additionally - upon registration - you have access
            to the chat instance where a 'tomcat agent' - us - will always be somewhere around to answer crucial questions or get support straight
            from another user who happens to be online - observe is community driven</span>
          <span>&nbsp;&nbsp;</span>
          <hr style="width: 100%;">
        </div>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="18%" fxHide.xs class="upper-three">
    </div>
  </div>
  <!-- SECOND ROW SECTION -->
  <div fxLayout="row" fxLayoutGap="1%" fxLayout.xs="column" class="mid-row">
    <div fxLayout="column" fxFlex="10%" fxLayoutAlign="center center" fxHide.xs class="mid-one">
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="72%" fxFlex.xs="100%" class="mid-two">
      <div fxLayout="row" fxLayoutGap="6%" fxLayout.xs="column" class="inner-upper-two">
        <div fxLayout="column" fxLayoutAlign="space-evenly center" fxFlex="100%" fxFlex.xs="100%" class=" w3-padding-small w3-text-orange">
          <h2><u>critical notice</u></h2>
          <span>&#8226;&nbsp;for the time being, this application is under constant developing, and is under no conditions effective or even functional enough
            to produce a meaningful result. This does not mean it will never do!
          <br>
          &#8226;&nbsp;members - and not, through forum - will be updated constantly with notices, members in person, concerning new functionalities & key points,
          needing attention.<br> Changes will be visible.
          </span><br>
          <span><b>we appreciate your understanding</b></span>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="18%" fxLayoutAlign="center center" fxFlex.xs="100%" class="mid-three">
      <a target="_blank" href="http://litcons.eu"><img src="../../../assets/pictures/logo-med.png"></a>
    </div>
  </div>

